.text-inicio {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding-top: 194px;
}

.text-result {
  margin: 0;
  letter-spacing: 0.8px;
}

.text-result-top {
  display: inline-block;
  margin-bottom: 16px;
}

.text-result-container {
  text-align: center;
  padding: 80px 0 40px;
}
