@use '../mixins/responsive.scss' as *;
.title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  &--home {
    letter-spacing: 1px;
  }
  &--question {
    padding: 120px 0 32px;
    @include responsive(laptop) {
      padding: 200px 0 56px;
    }
  }
  @include responsive(laptop) {
    font-size: 2.5rem;
  }
}
